{% load i18n %}

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 link-danger" href="#">HH-scarper</a>
    <form class="form-inline w-100" action="{% url 'hhscarper:request-create' %}"  method="post">{% csrf_token %}
        <div class="ml-5"></div>
        <div class="ml-5"></div>
        {% if user.is_authenticated %}
            <input class="form-control ml-5 w-50" type="text" name="keyword" placeholder="{% translate "Введите ключевое слово" %}">
        {% else %}
            <input class="form-control ml-5 w-50" type="text" name="keyword" placeholder="{% translate "Получите доступ для отправки запроса" %}" readonly>
        {% endif %}
        <a class="nav-link px-3 w-10" href="#" >
        {% if user.is_authenticated %}
            <input class="btn btn-danger" type="submit" value="Создать запрос">
        {% else %}
            <a  class="btn btn-secondary" href="{% url 'hhscarper:user-login' %}">{% translate "Получить доступ" %}</a>
        {% endif %}
        </a>
    </form>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>