{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container my-5 mx-auto">
    {% block list-title %}<h2>List title</h2>{% endblock list-title %}
    <div class="table-responsive">
        <table class="table  table-hover table-bordered table-sm">
            <thead>
                {% block thead %}
                    <tr>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">5</th>
                    </tr>
                {% endblock thead %}
            </thead>
            
            <tbody>
                {% block tbody %}
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                {% endblock tbody %}
            </tbody>
        </table>
        {% if page_obj.paginator.num_pages %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">{% translate "Предыдущая" %}</a>
                    {% endif %}
                    <span class="current">
                        {% translate "Страница" %} {{ page_obj.number }} {% translate "из" %} {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">{% translate "Следующая" %}</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}