{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container my-5 mx-auto">
    <h2>Section title</h2>
    <div class="table-responsive">
        <table class="table  table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">{% translate "Ключевое слово" %}</th>
                    <th scope="col">{% translate "Ссылка" %}</th>
                    <th scope="col">{% translate "Время запроса" %}</th>
                    <th scope="col">{% translate "Дата обновления" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for request in request_list %}
                    <tr>
                        <td>{{ request.pk }}</td>
                        <td>{{ request.search_value }}</td>
                        <td>{{ request.status }}</td>
                        <td>{{ request.time }}</td>
                        <td>{{ request.updated_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
