{% extends "list.html" %}
{% load i18n %}


{% block list-title %}<h2>{{ title }}: {{ report_data_len }} {% translate "Записей" %} </h2>{% endblock list-title %}
{% block extra-top %}
    <a href="{% url 'hhscarper:export-data' %}?report={{ report_type }}&request={{ report.request.keyword }}">
        {% translate "Скачать данные" %}
    </a>
{% endblock extra-top %}
{% block thead %}
    <tr>
        <th scope="col">{% translate "Описание" %}</th>
        <th scope="col">{% translate "Количество" %}</th>
    </tr>
{% endblock thead%}

{% block tbody %}
    {% for key, val in page_obj %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ val }}</td>
        </tr>
    {% endfor %}
{% endblock tbody%}