{% extends "list.html" %}
{% load i18n %}

{% block list-title %}<h2>{% translate "Список запросов" %}</h2>{% endblock list-title %}

{% block thead %}
    <tr>
        <th scope="col">ID</th>
        <th scope="col">{% translate "Ключевое слово" %}</th>
        <th scope="col">{% translate "Статус" %}</th>
        <th scope="col">{% translate "Затраченное время" %}</th>
        <th scope="col">{% translate "Дата создания" %}</th>
    </tr>
{% endblock thead%}

{% block tbody %}
    {% for request in request_list %}
        <tr>
            <td>{{ request.pk }}</td>
            <td><a href="{% url 'hhscarper:request-detail' request.pk %}">{{ request.keyword }}</a></td>
            <td>{{ request.status }}</td>
            <td>{{ request.time|time:"H:i:s" }}</td>


        </tr>
    {% endfor %}
{% endblock tbody%}
