{% extends "list.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block list-title %}<h2>{% translate "Список запросов" %}</h2>{% endblock list-title %}
{% block extra-top %}
<form method="get">
    <div class="form-group">
        {% bootstrap_form filter.form %}
        <input class="btn btn-primary mx-auto my-1" type="submit" value="{% translate "Найти" %}">
        <a class="btn btn-danger mx-2 my-1" href="{% url 'hhscarper:request-list' %}">{% translate "Сброс" %}</a>
    </div>
</form>
{% endblock extra-top %}
{% block thead %}
    <tr>
        <th scope="col">№</th>
        <th scope="col">{% translate "Ключевое слово" %}</th>
        <th scope="col">{% translate "Статус" %}</th>
        <th scope="col">{% translate "Затраченное время" %}</th>
        <th scope="col">{% translate "Дата создания" %}</th>
        <th scope="col">{% translate "Количество найденных вакансий" %}<small class="text-muted">{% translate " (Не более 2000)" %}</small></th>
        <th scope="col"></th>
    </tr>
{% endblock thead%}

{% block tbody %}
    {% for request in request_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'hhscarper:request-detail' request.pk %}">{{ request.keyword }}</a></td>
            <td>
                {% with request.status as req_status  %}
                    {% if req_status == "Resolved" %}
                        <img src="{% static 'img/check-circle.svg' %}"  alt="{{ req_status }}">
                    {% elif  req_status == "Pending" %}
                        <img src="{% static 'img/stopwatch.svg' %}"  alt="{{ req_status }}">
                    {% else %}
                        <img src="{% static 'img/exclamation-triangle.svg' %}"  alt="{{ req_status }}">
                    {% endif %}
                {% endwith %}
            </td>
            <td>{{ request.time|time:"H:i:s" }}</td>
            <td>{{ request.created_at|date:"H:i:s | d/m/y" }}</td>
            <td><a href="{% url 'hhscarper:vacancy-list' %}?requests={{ request.pk }}">{{ request.vacancy_set.count }}</a></td>
            <td>
                {% if user.is_active %}
                    <a class="btn btn-outline-danger btn-sm" href="{% url 'hhscarper:request-delete' request.pk %}"><img src="{% static 'img/trash.svg' %}"  alt="trash"> {% translate "Удалить" %}</a>
                {% else %}
                    <a class="btn btn-outline-secondary btn-sm disabled" href="#"><img src="{% static 'img/trash.svg' %}"  alt="trash"> {% translate "Удалить" %}</a>
                {% endif %}
            </td>

        </tr>
    {% endfor %}
{% endblock tbody%}

{% block scripts %}
    <script>
      $( function() {
        var availableTags = [
            {% for request in request_list %}
                "{{ request.keyword }}",
            {% endfor %}
        ];
        $( "#id_keyword" ).autocomplete({
          source: availableTags
        });
      } );
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"> </script>  
    <script src= "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>  
{% endblock %}
