{% extends "list.html" %}
{% load i18n %}

{% block list-title %}<h2>{% translate "Список вакансий" %}</h2>{% endblock list-title %}

{% block thead %}
    <tr>
        <th scope="col">ID</th>
        <th scope="col">{% translate "Название" %}</th>
        <th scope="col">{% translate "Ссылка" %}</th>
        <th scope="col">{% translate "Описание" %}</th>
        <th scope="col">{% translate "Ключевое слово" %}</th>
    </tr>
{% endblock thead%}

{% block tbody %}
    {% for vacancy in vacancy_list %}
        <tr>
            <td>{{ vacancy.pk }}</td>
            <td>{{ vacancy.title }}</td>
            <td>{{ vacancy.link }}</td>
            <td>{{ vacancy.description|truncatechars:255 }}</td>
            <td>{{ vacancy.request_set.keyword }}</td>
        </tr>
    {% endfor %}
{% endblock tbody%}
