{% extends "list.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block list-title %}<h2>{% translate "Список вакансий" %}</h2>{% endblock list-title %}
{% block extra-top %}
<form method="get">
    <div class="form-group">
        {% bootstrap_form filter.form %}
        <input class="btn btn-primary mx-auto my-1" type="submit" value="{% translate "Найти" %}">
    </div>
</form>
{% endblock extra-top %}
{% block thead %}
    <tr>
        <th scope="col">ID</th>
        <th scope="col">{% translate "Название" %}</th>
        <th scope="col">{% translate "Ссылка" %}</th>
        <th scope="col">{% translate "Описание" %}</th>
        <th scope="col">{% translate "Дата создания" %}</th>
    </tr>
{% endblock thead%}

{% block tbody %}
    {% for vacancy in vacancy_list %}
        <tr>
            <td>{{ vacancy.pk }}</td>
            <td>{{ vacancy.title }}</td>
            <td>{{ vacancy.link }}</td>
            <td>{{ vacancy.description|truncatechars:255 }}</td>
            <td>{{ vacancy.created_at|date:"H:i:s  d/m/y" }}</td>
        </tr>
    {% endfor %}
{% endblock tbody%}
